.section-container {
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
}

.title-box {
    margin-top: 15px;
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        text-align: center;
    }
}

.categories-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

@media only screen and (max-width: 900px) {
    .section-container {
        width: 100%;
    }
}