.search-input {
    width: 65%;
    margin-left: 40px;

    input {
        width: 100%;
        height: 50px;
        border: 2px solid #8C34B6;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding-left: 15px;
        background-color: rgba(244, 227, 253, 0.4);
        padding-right: 10px;
    }
}

.signIn-text {
    padding-left: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    padding-top: 13px;
    flex-wrap: nowrap;  
    min-width: 130px;
}

.header-actions {
    // display: flex;
    width: 100%;
}

.header-navbar {
    width: max-content;
    padding: 0 24px;
    display: flex;
    align-items: center;

   p {
        padding: 0 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        border-right: 1px solid black;
    }
}

@media only screen and (max-width: 899px) {
    .search-input {
        display: none;
    }
}