.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    height: 100%;
    width: 75%;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    border-left: 1px solid #d47bff;
}