.card-container {
    min-height: 380px;
    background-color: #EEC9FF;
    max-width: 250px;

    img {
        min-height: 300px;
        object-fit: cover;
    }

    .prices-box {
        display: flex;
        justify-content: center;
        
        p {
            font-size: 16px;
        }

        & :first-child {
            margin-right: 10px;
            text-decoration: line-through;
            color: #bbb;
        }

        & :last-child {
            color: #8f1919;
        }
    }
}

@media only screen and (max-width: 560px) {
    .card-container {
        min-height: 250px;
        background-color: #EEC9FF;
        min-width: 150px;
        max-width: 150px;

        img {
            min-height: 180px;
            object-fit: cover;
        }
    }
}